* {
    box-sizing: border-box;
}

footer {
    background-color: rgb(128,128,128);
    height: auto;
    color: white;
    clear: both;
}
footer.listFooter {
    display: inline-block;
    float: left;
}
footer h3 {
    color: white;
    padding-left: 20px;
}